body{
margin: 0;
padding: 0;
background-color: #1f2937;

}

    
.header{
    background-color: #1f2937;
    color: white;
    font-size: 24PX;
    font-weight: BOLD;
    display:flex;
    justify-content: space-BETWEEN;
    align-items: center;
    margin-bottom: 50PX;
    margin-right: 50PX;
    margin-left: 50PX;
}

.WS{

    display:flex;
    align-items: center;
    justify-content:flex-end;


}

ul{

   list-style-type: square;
  
   font-weight: normal;
   text-align: justify;
   font-size: 20px;
   
   
   
}

a{
    text-decoration: none; 
    color: white;
   

}

.container1{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 70vh;
 

}

.expertos{
    
    height:50vh;
    
    
}

.subtitle{

    background: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 10px;
}

.container2{

    background-color: white;
    display:flex;
    justify-content:space-evenly;
    text-align: justify;

    
   

    height: 70vh;
   

    
    
}

.container3{

    
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    
    color: #1F2937;
  
}
.text2{
    font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;

   
}

.text3{

    align-self:flex-end;
    margin-left: 100px;
  margin-right: 100px;
  
}


.servicios{
    
    
  
    height: 30%;
   
    border-color: #1f2937;
    
    
    

   
    
   
}
.info{

    display: flex;
    flex-direction: column;
    border-style:solid;
    border-color: #1f2937;
    font-size: 30px;
    font-weight: bold;
    flex-basis: 0;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
   
    
   
    
  

    
    
  }

  
 
  
  
  

.text{
    text-align: justify;
    gap: 10px;
    font-size: 20px;
    font-weight:normal;
    height: fit-content;
    


}

h2,.text1{

    color: white;
    
}
h2{

    width: 200px;
}
.text1{
    width: 300px;
    margin: 0;


}




.text7{

    font-size: 48px;
    COLOR: #F9FAF8;
    font-weight: bold;
    margin:0;

}
button{

    background-color: #3882F6;
    color: white;
    font-weight: BOLD;
    border-radius:4px;
    width: 80px;
    height: 25px;
    border: none;
    margin-top: 10px;
}

.container4{

    background-color: white;
    padding: 100px;
    display: flex;justify-content: center;
    
}

.cont4{

    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    height: 6em;
    width: 40em;
    justify-content: space-around;
    align-items: center;
}

.text4{

    font-weight: bold;
    color: white;
    font-size: 18px;
}
.text5{

    color: white;
}

.lastbutton{

   border:2px solid white;
   align-self: center;
}

.footer{

    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
}