body{
margin: 0;
padding: 0;
background-color: #1f2937;


}

    
.header{
    background-color: #1f2937;
    color: white;
    font-size: 50PX;
    font-weight: BOLD;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50PX;
    margin-right: 50PX;
    margin-left: 50PX;

    
    @media (max-width: 480px) {

        img{
            width: 3vh;
            height: 3vh;

        }

        .WS1{

            max-width: 150px;
            font-size: 15px;
            text-align: center;

        }
        
          
          margin: 5px;
         
        
      }

    @media (max-width: 768px) {
       
          font-size: 25px;
        img{
            width: 3vh;
            height: 3vh;

        }

        .WS1{

            max-width: 150px;
            font-size: 15px;
            text-align: center;

        }
        
          
        margin: 5px;

       
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
        margin: 10px;
      
  }
}

.WS1{

  display:flex;
  align-items: center;
  justify-content:flex-end;
  font-size:20px;
  


}


.WS2{

    display:flex;
    align-items: center;
    justify-content:flex-end;
    font-weight: normal;


}

.LN{

    display:flex;
    align-items: center;
    justify-content:flex-end;
    font-weight: normal;
    
  
    


}



a{
    text-decoration: none; 
    color: white;
   

}

.container1{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 70vh;

    @media (max-width: 480px) {
        
        flex-wrap: wrap;
        margin: 5px;
        
      
    }

  @media (max-width: 768px) {
     
        
    flex-wrap: wrap;
    margin: 5px;
    
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
        margin: 10px;
      
  }
 

}

.subcontainer1{
    padding-right: 10px;

    @media (max-width: 480px) {
        
        flex-direction: column;
        width: 100%;
        height: auto;
        object-fit: contain;
        align-items: center;
        
     
       
        
      
    }

  @media (max-width: 768px) {
     
        
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    align-items: center;
   
  
    
  
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
        margin: 10px;

      
  }
    
}

.expertos{
    
    height: 400px;
    object-fit: contain;
      
    @media (max-width: 480px) {
        width: 100%;
        height: auto;
        object-fit: contain;
       
      
    }

  @media (max-width: 768px) {
     
        width: 100%;
        height: auto;
        object-fit: contain;
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
       
       
      
  }
    
    
}

.subtitle{

    background: white;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    padding-bottom: 10px;

    @media (max-width: 480px) {
        
        font-size: 20px;
       
       
      
    }

  @media (max-width: 768px) {
     
        font-size: 20px;
       
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        font-size: 40px;
    
      
  }
}

.subtitle2{

    background-color: #1f2937;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;



    @media (max-width: 480px) {
        
        font-size: 15x;
       
       
      
    }

  @media (max-width: 768px) {
     
        font-size: 15px;
       
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        font-size: 20px;
    
      
  }

}

.container2{

    background-color: white;
    display:flex;
    flex-direction: column;

    align-items: center;
    justify-content:center;
    text-align: justify;
    width: 100%;
        height: auto;
     
    
   
  

    @media (max-width: 480px) {
        
        flex-direction: column;
        width: 100%;
        height: auto;
        object-fit: contain;
        
        margin: 5px;
        
       
    }

    
    color: #1F2937;
  
}

.text:first-line{
    
    
    font-weight:bold;
    text-decoration:underline;
     /* Styles for screens wider than 1024px (large desktops) */
 

    
   

}


.container3{

    
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    
    color: #1F2937;
  
}


.text{
    padding-top: 18x;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    @media (min-width: 1024px) {
    
        font-size: 30px;
    
      
  }

}

.subtext{
    text-align: justify;
    font-size: 18px;
    font-weight:normal;
    height: fit-content;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    @media (min-width: 1024px) {
    
        font-size: 30px;
    
      
  }
}

ul{
    list-style-type: square;
    font-weight: normal;
    text-align: justify;
 }


li{
    padding-right: 10px;
}

.text2{
    font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;

   
}

.text3{

    align-self:flex-end;
    margin-left: 100px;
  margin-right: 100px;
  
}


.servicios{
    
    
    width: 50%;
   
    object-fit: contain;
    border-color: #1f2937;
   

    @media (max-width: 480px) {
        
        width: 100%;
        height: auto;
        object-fit: contain;
      
    }

  @media (max-width: 768px) {
     
        
    width: 100%;
    height: auto;
    object-fit: contain;
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
        margin: 5px;
      
  }
     
   
}
.info{

  
  display:flex;
  
  
  justify-content:space-between;
   
    font-size:large;
    font-weight: bold;
    
    width: 100%;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;


    @media (max-width: 768px) {
       flex-direction: column;
    
  
    
      
  }
    
   
     
  }

  



h2,.text1{

    color: white;
    width: 100%;
        height: auto;
        object-fit: contain;

   
    
    
}
h2{

    width: 200px;
}
.text1{
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: justify;

    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        font-size: 24px;
        padding-right: 10px;
      
  }

    


}

.text7{

    font-size: 48px;
    COLOR: #F9FAF8;
    font-weight: bold;
    margin:0;

    @media (max-width: 480px) {
        
        font-size: 20px;
        max-width:max-content;
        margin: 5px;
       
      
    }

  @media (max-width: 768px) {
     
    font-size: 20px;
    max-width:max-content;
    margin: 5px;
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        font-size: 36px;
        margin: 10px;
      
  }

}
button{

    background-color: #3882F6;
    color: white;
    font-weight: BOLD;
    border-radius:4px;
    width: 100px;
    height: 25px;
    border: none;
    margin-top: 10px;
}

.container4{

    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    
   
    @media (max-width: 480px) {
        
        flex-direction: column;
        width: 100%;
        height: auto;
        object-fit: contain;
        align-items: center;
     
       
        
      
    }

  @media (max-width: 768px) {
     
        
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    align-items: center;
   
  
    
  
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
       

      
  }
    
}

.redes{

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    
    
}

.cont4{

    
    display: flex;
    border-radius: 10px;
 
    height: auto;
    object-fit: contain;
    
    align-content: center;
    @media (max-width: 480px) {
        
        flex-direction: column;
        width: 100%;
        height: auto;
        object-fit: contain;
        align-items: center;

       
        
      
    }

    @media (max-width: 768px) {
       
          
      flex-direction: column;
      width: 100%;
      height: auto;
      object-fit: contain;
    align-items: center;
   
  
    
    
      
    }

 
    
    /* Styles for screens wider than 1024px (large desktops) */
    @media (min-width: 1024px) {
    
        
      

      
  }
    
}



.text4{

    font-weight: bold;
    color: white;
    font-size: 18px;
}
.text5{

    color: white;
}

.lastbutton{

   border:2px solid white;
   align-self: center;
}

.footer{

    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* Estilos básicos para el formulario */
#contactoForm {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
}

#contactoForm label {
    display: block;
    margin-bottom: 5px;
}

#contactoForm input,
#contactoForm textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    box-sizing: border-box;

}

#contactoForm button {
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#contactoForm button:hover {
    background-color: #45a049;
}
